body{
    font-family: 'Open Sans', sans-serif;
}
.primary-btn{
    background: #E55473;
    border-radius: 5px;
    border: 0;
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    padding: 15px 25px;
}
.banner{
    background-color: #E554731A;
    padding: 35px 25px 0px 150px;
    display: flex;
    /* justify-content: center;
    align-items:center ; */
}
.banner-lrg{
    font-size: 50px;
    font-weight: 501;
    color: #272727;
    margin-bottom: 0px;
}
.para{
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 30px; 
    padding: 10px 0px 20px 0px;
}
.flower{
    width: 30%;
    padding-left: 200px;
}
/* main section style */

/* featured flower style */
.heading{
    text-align: center;
    font-size: 25px;
    font-weight: 800; 
    padding-top: 70px;
}
.description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 12px;
    font-weight: 100;
    line-height: 18px;
}

/* fuler 3 ta */
.border-flower{
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.pink-flower{
    display: flex;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15); 
    width: 330px;
    height: 400px;
    justify-content: center;
    margin-right: 20px;
    align-items: last baseline;
}

.red-flower{
    display: flex;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 330px;
    height: 400px;
    justify-content: center;
    margin-right: 20px;
    align-items: center;
}
.yellow-flower{
    display: flex;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 330px;
    height: 400px;
    justify-content: center;
    align-items: last baseline;
}

.support{
background: rgba(39, 39, 39, 0.05);
margin: 130px 0px;
max-width: 1240px;
height: 250px;
margin: 0px auto;
}
.grpa{
    padding: 20px 0px 0px 200px;
}
.grpb{
    padding: 50px 280px 0px 300px;
}
.sprt{
    display: flex;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 16px;
    font-weight: 550;
    line-height: 35px;
}
.delivery{
    padding: 0px 0px 50px 120px;
}
.type{
    padding: 0px 208px 50px 80px;
}
.discount{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    /* height: 620px; */
    margin-top: 128px;
}
.pera{
    text-align: center;
    padding-top: 150px;
    padding-left: 300px;
}
.signupbtn{
    background: #E55473;
    border-radius: 5px;
    border: 0;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    padding: 15px 30px;
    display: inline-flex;
    text-align: center;
} 
.off{
   color:#E55473 ; 
}
.signupdescription{
    color: rgba(39, 39, 39, 0.60);
    /* padding: 0px 186px 52px 423px; */
    /* text-align: center; */
    font-size: 18px;
    font-weight: 400;
} 
.signinfo{
    display: flex;
}
.rose{
    padding: 100px 50px 100px 150px;
    width: 200px;
    height: 250px;
}
.instagram{
    text-align: center;
    padding-top: 70px;
}
.instagramhead{
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.instagramdescription{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 450;
    line-height: 20px;
}
/* four flower style */
.fourflower{
    display: flex; 
    padding: 0px 600px 0px 10px;
    padding-left: 230px;
}
.rectflower{
    width: 25%;
    padding: 70px 0px 0px 60px;
}

/* newsletter er part jeta mail deyyy */
.newsletter{
    background-image: url("./FlowerAsset/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: 927px 300px;
    /* justify-content: center; */
    margin: 100px 0px 0px 282px;
    height: 500px;
    /* border-radius: 8px; */
    text-align: center; 
}
.newsletterdiv{
    padding: 25px;
    justify-content: center;
    text-align: center;
}
.newsletter-title{
    color: #272727;
    text-align: center;
    font-size: 27px;
    font-style: normal;
    font-weight: 550;
    margin-top: 18px;
    line-height: 20px;
    margin: 55px 300px 13px 10px;
}
.newsletter-discount{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 100;
    line-height: 20px;
    margin: 0px 300px 30px 10px;
}


.newsletterdiv input{
    width: 460px;
    height: 45px; 
    background: #FFF;
    border-radius: 5px; 
    /* margin-right: 300px; */
    border: none;
    /* padding: 5px;
    margin-right: 10px; */
}
.subscribe{
    background: #E55473;
    border-radius: 5px;
    border: 0;
    color: #FFF;
    font-size: 15px;
    font-weight: 550;
    padding: 15px 22px;
    margin-right: 320px;
}
/* all about footer */
.footer-start{
    background-color: #111010;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    max-width: 2800px;
    padding-left: 0%;
}
.footer-nice{
    color: #E55473;
}
.footer-title{
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    font-size: 35px;
    font-weight: 700; 
}
.footer-descript{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 12px;
    font-weight: 50px;
    line-height: 18px;
}
.footer-endgame{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 12px;
    font-weight: 50;
    line-height: 15px;
    padding-top: 5px;
}